
<div class="bg-[#000000]">
 <div class="bg-[#000000] swiper mySwiper w-[80%] mx-auto text-white">
  <div class="bg-[#000000] swiper-wrapper">
    
      <div class="swiper-slide white p-4 rounded shadow text-center cursor-pointer">
        <img src="<%= asset_path('burger.jpg') %>" class="rounded-[15px] mb-2 w-full h-[200px] object-cover" />
        <h5 class="text-lg font-bold">BURGERZ</h5>
        
      </div>

      <div class="swiper-slide  p-4 rounded shadow text-center cursor-pointer">
        <img src="<%= asset_path('pizza.jpg') %>" class="rounded-[15px] mb-2 w-full h-[200px] object-cover" />
        <h5 class="text-lg font-bold">PIZZA</h5>
       
      </div>

      <div class="swiper-slide  p-4 rounded shadow text-center cursor-pointer">
        <img src="<%= asset_path('rolls.jpg') %>" class="rounded-[15px] mb-2 w-full h-[200px] object-cover" />
        <h5 class="text-lg font-bold">ROLLS</h5>
        
      </div>

      <div class="swiper-slide  p-4 rounded shadow text-center cursor-pointer">
        <img src="<%= asset_path('pasta.webp') %>" class="rounded-[15px] mb-2 w-full h-[200px] object-cover" />
        <h5 class="text-lg font-bold">PASTA</h5>
       
      </div>

      <div class="swiper-slide  p-4 rounded shadow text-center cursor-pointer">
        <img   src="<%= asset_path('chinese.jpeg') %>" class="rounded-[15px] mb-2 w-full h-[200px] object-cover" />
        <h5 class="text-lg font-bold">CHINESE</h5>
        
      </div>

      <div class="swiper-slide  p-4 rounded shadow text-center cursor-pointer">
        <img  src="<%= asset_path('drinks.jpeg') %>" class="rounded-[15px] mb-2 w-full h-[200px] object-cover" />
        <h5 class="text-lg font-bold">SOFT DRINKS</h5>
        
      </div>
    
  </div>

  <!-- Navigation buttons -->
  <div class="swiper-button-next text-red-500"></div>
  <div class="swiper-button-prev text-[#000000]"></div>
 </div>

</div>