<div class="menu w-[100%] bg-[#000000] text-white">
    <div class="menu-container flex justify-center pb-[50px] bg-[#000000]">
    <div class="menu-items-container sm:w-[80%] grid sm:grid-cols-3 gap-5">
    <div class="menu_item p-[20px] shadow-md shadow-red-300/50">
        <img class="rounded-[15px] mb-[5px]" src="<%= asset_path('burger.jpg') %>"/>
        <h5>Zinger Burger</h5>
        <p>Grilled zinger with fresh onions and spices</p>
        <h6>RS: 1000 </h6>
    </div>

    <div class="menu_item p-[20px] shadow-md shadow-red-300/50">
        <img class="rounded-[15px] mb-[5px]" src="<%= asset_path('burger.jpg') %>"/>
        <h5>Zinger Burger</h5>
        <p>Grilled zinger with fresh onions and spices</p>
        <h6>RS: 1000 </h6>
    </div>

    <div class="menu_item p-[20px] shadow-md shadow-red-300/50">
        <img  class="rounded-[15px] mb-[5px]" src="<%= asset_path('burger.jpg') %>"/>
        <h5>Zinger Burger</h5>
        <p>Grilled zinger with fresh onions and spices</p>
        <h6>RS: 1000 </h6>
    </div>

    <div class="menu_item p-[20px] shadow-md shadow-red-300/50">
        <img class="rounded-[15px] mb-[5px]" src="<%= asset_path('burger.jpg') %>"/>
        <h5>Zinger Burger</h5>
        <p>Grilled zinger with fresh onions and spices</p>
        <h6>RS: 1000 </h6>
    </div>

    <div class="menu_item p-[20px] shadow-md shadow-red-300/50">
        <img class="rounded-[15px] mb-[5px]" src="<%= asset_path('burger.jpg') %>"/>
        <h5>Zinger Burger</h5>
        <p>Grilled zinger with fresh onions and spices</p>
        <h6>RS: 1000 </h6>
    </div>

    <div class="menu_item p-[20px] shadow-md shadow-red-300/50">
        <img class="rounded-[15px] mb-[5px]" src="<%= asset_path('burger.jpg') %>"/>
        <h5>Zinger Burger</h5>
        <p>Grilled zinger with fresh onions and spices</p>
        <h6>RS: 1000 </h6>
    </div>
    
    </div>
    </div>
</div>